extends _share/container.pug
block config
    - var title = "国际农夫首页";
    - var keyword = "国际农夫,国际农夫首页";
    - var description = "国际农夫首页";
block head
    link(rel='stylesheet',href=cssUrl+'index.css')
block html
    .container
        a.admin(href="./login.html")
            img(src=imgUrl+"icon-admin.png")
        img.logo(src=imgUrl+"logo.png", alt="")
        .nav.flex
            a(href="./menu.html")
                |#[i.icon.menu]我的菜单
            a(href="#")
                |#[i.icon.leave]暂时离开
        img.banner(src=imgUrl+"banner1.png", alt="")
        img.banner(src=imgUrl+"banner2.png", alt="")
block js